@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@1,400;1,500&display=swap');

:root {
    --woocommerce: #a46497;
    --wc-green: #7ad03a;
    --wc-red: #a00;
    --wc-orange: #ffba00;
    --wc-blue: #2ea2cc;
    --wc-primary: #a46497;
    --wc-primary-text: white;
    --wc-secondary: #ebe9eb;
    --wc-secondary-text: #515151;
    --wc-highlight: #77a464;
    --wc-highligh-text: white;
    --wc-content-bg: #fff;
    --wc-subtext: #767676;
}

*{
    margin: 0;
    padding: o;
}
div {
    display: block;
}
/* Body */
body {
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  color: #9f9f9f;
}
body {
  color: grey;
}
/* Hedaer*/

header{
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
}

.wrapper{
    padding-left: 24px;
    padding-right: 24px;
}

#header-info{
    color: #b98108;
    font-family: var(--main-font);
    display: none;
    padding: 33px 24px;
    font-size: 12px;
    font-weight: bold;
    line-height: 2.5px;
}

#header-paragraph{
    display: flex;
    justify-content: space-between;
}
#header-paragraph span a{
    color: rgb(19, 18, 18);
    font-weight: 700;
    font-family: Newsreader;
    text-decoration-line: none;
    margin: 0 60px;
}

#header-main-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#header-logo img {
    display: block;
    border-radius: 40px;
    width: 105px;
}

#burger-checkbox {
    display: none;
}

#burger-checkbox:checked ~ #main-navigation {
    display: block;
}

#main-navigation {
    display: none;
}

#header-navigation {
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
}

#header-navigation a{
    color: #3f0808;
    font-weight: 700;
    font-family: Newsreader;
    text-decoration-line: none;
    margin: 0 19px;
}

#header-social-icons{
    display: none;
}

#header-social-icons img{
    color: #f5f82a;
    width: 25px;
    height: 25px;
}

h1 {
    font-size: 35px;
    color: var #000000;
    font-family: Lexend;
    font-weight: 700;
    line-height: 1.1;
    padding-top: 20px;
}

@media (min-width: 710px) {

    .wrapper{
        padding-left: 40px;
        padding-right: 40px;
    }

    h1 {
        font-size: 64px;
        padding-top: 5px;
    }
    
    .burger-icon {
        display: none;
    }

    #header-info {
        display: block;
    }

    #main-navigation {
        display: block;
    }  

    #header-navigation {
        display: block;
    }

    #header-social-icons{
        display: block;
    }
}
/*Abbout us*/
.vc_custom_1496069271236 {
  margin-top: 20px !important;
}
blockquote {
  background: #f9f9f9;
  border-left: 0;
  margin: 0;
  color: #525252;
  font-size: 1.4em;
  line-height: 2em;
  padding: 5em 10%;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
blockquote p {
  display: inline;
}
cite {
  font-style: italic;
}
blockquote .cite-author {
  display: block;
  margin-top: 20px;
  font-weight: 600;
}
blockquote .cite-author a {
  color: #8793d2;
  font-size: inherit;
  font-weight: inherit;
}
/*portfolio*/
.page .page-title {
  border-bottom: 1px solid #ececec;
}
.page-title {
  position: relative;
  text-align: center;
  min-height: 100px;
  line-height: 100px;
  margin-bottom: 90px;
  margin-top: -100px;
  color: black;
  top: 40px;
  padding: 30px 10% 18px;
  z-index: 101;
  -webkit-transition: all ease 0.7s!important;
  -moz-transition: all ease 0.7s!important;
  transition: all ease 0.7s!important;
}
#main-content {
  width: 68%;
  margin-right: 50px;
  float: left;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#main-content {
  width: 70%;
  float: left;
  padding-right: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#main-content {
  width: 68%;
  margin-right: 50px;
  float: left;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fullwidth {
  width: 100%!important;
  padding-right: 0!important;
  padding-left: 0!important;
}
.vc_column-inner::after, .vc_column-inner::before {
  content: " ";
  display: table;
}
.vc_column-inner::after {
  clear: both;
}
.vc_column-inner::after, .vc_column-inner::before {
  content: " ";
  display: table;
}
.vc_custom_1559149569595 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
element.style {
  position: relative;
  height: 1324px;
}
#main-content ol, #main-content ul {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 20px;
}
.portfolio-gallery .wpb_image_grid_ul {
  -webkit-padding-start: 0!important;
}
.wpb_image_grid .wpb_image_grid_ul {
  margin: 0;
  padding: 0;
}

/*vc-row*/
.vc_row {
  margin-left: -15px;
  margin-right: -15px;
}
.vc_column_container {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px){
.vc_col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 768px){
.vc_col-sm-1, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9 {
    float: left;
  }
}
.vc_col-lg-1, .vc_col-lg-10, .vc_col-lg-11, .vc_col-lg-12, .vc_col-lg-2, .vc_col-lg-3, .vc_col-lg-4, .vc_col-lg-5, .vc_col-lg-6, .vc_col-lg-7, .vc_col-lg-8, .vc_col-lg-9, .vc_col-md-1, .vc_col-md-10, .vc_col-md-11, .vc_col-md-12, .vc_col-md-2, .vc_col-md-3, .vc_col-md-4, .vc_col-md-5, .vc_col-md-6, .vc_col-md-7, .vc_col-md-8, .vc_col-md-9, .vc_col-sm-1, .vc_col-sm-10, .vc_col-sm-11, .vc_col-sm-12, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9, .vc_col-xs-1, .vc_col-xs-10, .vc_col-xs-11, .vc_col-xs-12, .vc_col-xs-2, .vc_col-xs-3, .vc_col-xs-4, .vc_col-xs-5, .vc_col-xs-6, .vc_col-xs-7, .vc_col-xs-8, .vc_col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.vc_col-has-fill>.vc_column-inner, .vc_row-has-fill+.vc_row-full-width+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill+.vc_row>.vc_column_container>.vc_column-inner, .vc_row-has-fill>.vc_column_container>.vc_column-inner {
  padding-top: 35px;
}
.vc_column_container>.vc_column-inner {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li {
  margin-bottom: 35px;
}
#content .wpb_alert p:last-child, #content .wpb_text_column :last-child, #content .wpb_text_column p:last-child, .wpb_alert p:last-child, .wpb_text_column :last-child, .wpb_text_column p:last-child {
  margin-bottom: 0;
}
h5 {
  font-family: Lato;
  text-transform: uppercase;
  line-height: 26px;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  color: #686868;
  font-size: 12px;
}
h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h3 {
  font-family: 'Lato';
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 36px;
  color: #3a3a3a;
  line-height: 36px;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h2 {
  font-family: 'Lato';
  font-size: 24px;
  letter-spacing: -2px;
  font-weight: 300;
  line-height: 26px;
  color: black;
  line-height: 36px;
  letter-spacing: 1px;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
/*vc_row wpb_row vc_row-fluid home-categories-list*/
@media (min-width: 768px){
.vc_col-sm-6 {
    width: 50%;
  }
}
a {
  color: #8a8a8a;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:-webkit-any-link {
  /*color: -webkit-link;*/
  cursor: pointer;
  text-decoration: underline;
}
.feature-box-wrapper {
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
}
.feature-box.Style3 {
  padding: 14px 30px 240px 20px;
  text-align: left;
}
.feature-box:hover {
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -ms-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
  transform: scale(1.05);
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -o-transform: scale(1.06);
  -ms-transform: scale(1.06);
}

.vc_custom_1559147748253 {
  padding-bottom: 650px !important;
  background-image: url(../img/tamborki-2-min.jpg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.vc_custom_1559147582055 {
  padding-bottom: 400px !important;
  background-image: url(../img/wzory-min.jpg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.vc_custom_1559147713663 {
  padding-bottom: 400px !important;
  background-image: url(../img/zestawy-min.jpg) !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.feature-box {
  padding: 60px 30px;
  text-align: center;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -ms-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
}
.feature-box-text {
  position: absolute;
  top: 0;
  left: 40px;
}
.feature-box-text.Style3 h1 {
  line-height: 0;
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  font-weight: 300;
  margin-top: 55px;
}
h1, .entry-title a {
  font-family: 'Lato';
  font-size: 26px;
  font-weight: 300;
  line-height: 50px;
  color: black;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.home-categories-list .feature-box-text p {
  max-width: 158px;
  font-size: .85rem;
  line-height: 1.7;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* vc_row wpb_row vc_row-fluid vc_custom_1498772743509 */
.vc_custom_1498772743509 {
  margin-top: 60px !important;
  margin-bottom: 1px !important;
}
.vc_column_container>.vc_column-inner {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.vc_sep_pos_align_center {
  margin-left: auto;
  margin-right: auto;
}
.vc_sep_width_100 {
  width: 100%;
}
.vc_separator {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.vc_separator.vc_separator_no_text:not(.vc_sep_shadow) .vc_sep_holder_l {
  width: 100%;
}
.vc_separator .vc_sep_holder {
  height: 1px;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 10%;
}
.vc_separator.vc_sep_color_grey .vc_sep_line {
  border-color: #ebebeb;
}
.vc_separator .vc_sep_holder .vc_sep_line {
  height: 1px;
  border-top: 1px solid #ebebeb;
  display: block;
  position: relative;
  top: 1px;
  width: 100%;
}
hr, .vc_sep_line {
  background: rgba(235, 235, 235, 0.47);
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 550, from(rgba(209, 209, 209, 0.73)), to(rgba(255, 255, 255, 0.98)))!important;
  max-width: 1000px;
  margin: auto;
  border: 0!important;
  height: 1px;
  margin-top: 2.5em;
  margin-bottom: 1.5em;
}
.vc_separator.vc_separator_no_text:not(.vc_sep_shadow) .vc_sep_holder_r {
  display: none;
}
/* vc_row wpb_row vc_row-fluid */
.vc_custom_1558097930995 {
  margin-top: -45px !important;
  margin-bottom: 16px !important;
  padding-top: 80px !important;
  padding-bottom: 1px !important;
}


/* Footer box */
.site-footer .site-main{
  width: 100%;
}

.site-footer.min{
  display:none!important;
}

.footer-row{
  width:100%;
  overflow:hidden;
  box-sizing: border-box;
}

.footer-row.top, .main-row.top{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 30px 0 30px 0;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 100;
    position: relative;
    background: white;
}

.footer-row.bottom{
  background: none;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  margin-top: -20px;
}

.simple-social-icons {
    overflow: hidden;
    position: relative;
    left: -7px;
    top:12px;
}

.simple-social-icons ul li {
    background: none !important;
    border: none !important;
    float: left;
    list-style-type: none !important;
    margin: 0 10px 0 0!important;
    padding: 0 !important;
}

.simple-social-icons ul li a, .simple-social-icons ul li a:hover, .simple-social-icons ul li a:focus {
    background-color: #ffffff !important;
    border-radius: 0px;
    color: #a3a3a3 !important;
    border: 0px #ffffff solid !important;
    font-size: 20px;
    padding: 0!important;
    left:0!important;
    margin-left:0!important;
}

.footer-row.bottom .footer-block.right{
  padding-top: 8px;
}

.footer-row::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.footer-block{
  width: 33.33%;
  width: calc(100% / 3);
  height:auto;
  min-height:10px;
  float:left;
  box-sizing: border-box;
}

.footer-block.left{
  text-align:left;
}

.footer-block.middle{
  text-align:center;
}

.footer-block.right{
  text-align:right;
}

.footer-row.top .footer-block.left{
  width: 24.66%;
  width: calc(100% / 4);
  height:auto;
  min-height:10px;
  float:left;
  padding: 20px;
  box-sizing: border-box;
}

.widget-title {
  font-family: 'Open Sans';
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 36px;
  color: #282828;
}

.widget-title {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 15px;
}

.site-footer p {
  color: #727272;
  font-size: 13px;
}

.footer-row.top .footer-block.middle-left{
  width: 24.66%;
  width: calc(100% / 4);
  height:auto;
  min-height:10px;
  float:left;
  padding: 20px;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

ol, ul {
  display: block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

.widget li {
  overflow: hidden;
}

li {
  margin-bottom: 5px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul {
  list-style-type: disc;
}

.footer-row.top .footer-block.middle-right{
  width: 24.66%;
  width: calc(100% / 4);
  height:auto;
  min-height:10px;
  float:left;
  padding: 20px;
  box-sizing: border-box;
}

.footer-row.top .footer-block.right{
  width: 24.66%;
  width: calc(100% / 4);
  height:auto;
  min-height:10px;
  float:left;
  padding: 20px;
  box-sizing: border-box;
  text-align:left;
}

.site-footer {
  font-size:13px;
}

.site-footer a {
  position:relative;
  left:0;
  font-size: 13px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.site-footer a:after{
  font-family: 'FontAwesome';
  opacity:0;
  font-size: 13px;
  content: '\f178';
  position: relative;
  color: #dedddd;
  left: 10px;
  top: 1px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;

}

.site-footer a:hover{
  position:relative;
  left:4px;
  font-size: 13px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;

}
.site-footer a:hover:after{
  font-family: 'FontAwesome';
  opacity:1;
  font-size: 13px;
  content: '\f178';
  position: relative;
  color: #dedddd;
  left: 18px;
  top: 1px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.site-footer a {
  color: #6a6a6a;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  text-decoration: none;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-header .header-menu-left ul a, .site-header .header-menu-right ul a, .cart-box {
  font-weight: 600;
}

.site-header .header-menu-right ul a, .cart-box {
  display: inline-block!important;
  color: #2e2e2e!important;
  font-family: 'Open Sans';
  font-size: 10px;
  font-weight: 400;
  padding-top: 3px;
  padding-left: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.socials-shortcode a i {
  color: #c4c4c4;
  margin: 0;
  transition: .3s;
}

.site-footer i {
  margin-left: 8px;
  margin-right: 8px;
  color: #b9d063;
}