@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@1,400;1,500&display=swap');

*{
    margin: 0;
    padding: o;
}

body{
    max-width: 1295px;
    margin: auto;
}
/*header*/
header{
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
}

.wrapper{
    padding-left: 24px;
    padding-right: 24px;
}

#header-info{
    color: #b98108;
    font-family: var(--main-font);
    display: none;
    padding: 33px 24px;
    font-size: 12px;
    font-weight: bold;
    line-height: 2.5px;
}

#header-paragraph{
    display: flex;
    justify-content: space-between;
}
#header-paragraph span a{
    color: rgb(19, 18, 18);
    font-weight: 700;
    font-family: Newsreader;
    text-decoration-line: none;
    margin: 0 60px;
}

#header-main-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

#header-logo img {
    display: block;
    border-radius: 40px;
    width: 105px;
}

#burger-checkbox {
    display: none;
}

#burger-checkbox:checked ~ #main-navigation {
    display: block;
}

#main-navigation {
    display: none;
}

#header-navigation {
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
}

#header-navigation a{
    color: #3f0808;
    font-weight: 700;
    font-family: Newsreader;
    text-decoration-line: none;
    margin: 0 19px;
}

#header-social-icons{
    display: none;
}

#header-social-icons img{
    color: #f5f82a;
    width: 30px;
    height: 30px;
}

h1 {
    font-size: 35px;
    color: var #000000;
    font-family: Lexend;
    font-weight: 700;
    line-height: 1.1;
    padding-top: 20px;
}

@media (min-width: 991px) {

    .wrapper{
        padding-left: 40px;
        padding-right: 40px;
    }

    h1 {
        font-size: 64px;
        padding-top: 5px;
    }
    
    .burger-icon {
        display: none;
    }

    #header-info {
        display: block;
    }

    #main-navigation {
        display: block;
    }  

    #header-navigation {
        display: block;
    }

    #header-social-icons{
        display: block;
    }
}

/*main block "vc_row"*/
.vs_row {
    margin-left: -15px;
    margin-right: 15px;
}

.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}

.vc_col-sm-12 {
    width: 100%;
}

.vc_col-sm-12 {
    float: left;
}

.vc_col-sm-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.vc_column_container {
    width: 100%;
}

.vc_column-inner {
    margin-top: 20px;
}

.vc_custom_1595327303250 {
    padding-top: 100px !important;
    padding-right: 20% !important;
    padding-bottom: 140px !important;
    padding-left: 20% !important;
}

h5 {
    font-family: Lato;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    color: #686868;
    font-size: 12px;
}

h3 {
    font-family: 'Lato';
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 36px;
    color: #3a3a3a;
    line-height: 36px;
}
/*
.wpb_wrapper {
    color: rgb(22, 21, 21);
    font-weight: 700;
    font-family: Newsreader;
    text-decoration-line: none;
    margin: 0 19px;
}
*/
.product-list {
    display: flex;
}

.product-list img {
    margin-top: 15px;
}
/* footer_elements*/
.contact-block {
    background-color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 30px;
    width: 400px;
    height: 380px;
}

.social_icons {
    display: flex;
    margin-left: 20px;
}

.facebook_logo, .instagram_logo, .youtube_logo {
    padding-right: 15px;
    padding-bottom: 10px;
}

.footer_grid_elements {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
/*Footer menu*/
.footer_nav {
    text-align: center;
    font-size: 20px;
}

.quick_links_footer {
    font-size: 20px;
}

.navigation_text_footer, .quick_links_text_footer, .contacts_footer_text {
    padding-top: 5px;
    padding-bottom: 15px;
    font-family: Newsreader;
}

.footer_nav_products, .footer_nav_about_us, .footer_nav_best_deals, .footer_nav_latest_news {
    color: #1e3647;
    font-size: 16px;
    font-weight: bold;
    display: block;
    padding-bottom: 25px;
}

.quick_links_shipping, .quick_links_privacy, .quick_links_terms, .quick_links_orders {
    color: #1e3647;
    font-size: 16px;
    font-weight: bold;
    display: block;
    padding-bottom: 25px;
}

.contacts_footer_phone_text, .contacts_footer_email_text, .contacts_footer_address_word {
    color: #2b2222a9;
    font-size: 15px;
    font-weight: bold;
    display: block;
    padding-bottom: 25px;
}

.contacts_footer_phone_link, .contacts-footer-email-link {
    color: #ebcb40;
}

.contacts_footer_phone_link:hover, .contacts-footer-email-link:hover {
    color: #9a9a9a;
}

li {
    list-style-type: none;
}
   
ul {
    margin-left: 0; 
    padding-left: 0;
}

.navigation_text_footer, .quick_links_footer, .contacts_footer {
       color: #212e10ce;
}

.address_type {
    color: #9a9a9a;
}
.flogo_and_social_icons {
    display: flex;
    margin-left: 20px;
}